*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    animation: changeBg 10s linear infinite;
}
@keyframes changeBg {
    0% {
        background-color: #1E0550;
    }
    20% {
        background-color: #ad3708;
    }
    40% {
        background-color: #b5da10;
    }
    60% {
        background-color: #963591;
    }
    80% {
        background-color: #33be2e;
    }
    100% {
        background-color: #1E0550;
    }
}
body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container, .content-box{
    background-color:rgb(22, 233, 198);
    padding: 45px 45px 45px;
    border-radius: 5px;
    
    border: 1px solid;
    resize: none;
    overflow-y: auto;
}



.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 2rem;
    word-break: break-all;
}

.quote-input, textarea {
    background-color: transparent;
    border: 2px solid #a1922e;
    outline: none;
    width: 100%;
    height: 59px;
    margin: auto;
    padding: 15px;
    font-size: 2rem;
    border-radius: 5px;
    resize: none;
    letter-spacing: 1px;
}

.quote-input::-webkit-scrollbar{
    width: 0px;
}

.quote-input:focus {
    border-color: black;
    border-width: 2.5px;
    
}

.correct {
    color : rgb(191, 255, 191);
}

.incorrect {
    color: red;
    

}
audio {
    align-items: flex-end;
    position: absolute;
   
    bottom: 10px;
    width: 50;
    


}

.music {
    align-items: flex-end;
    position: absolute;
    color: red;
    font-size: 2rem;
    bottom: 40px;
    width: 50;
    
}

.Typo {
    align-items: flex-end;
    position: absolute;
    color: red;
    font-size: 3rem;
    top: 10px;
    width: 50;
    font-family: 'Courier New', monospace;
    background: linear-gradient(90deg, #ff0000, #f597d9, #58db37, #0033ff, #ff00c4, #ff0000);
    background-size: 400px;
    letter-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
textarea { resize: both; }

.result-details {
    justify-content: space-between;
    border-top: 1px solid;
    padding: 10px;
}
.result-details li{
    list-style: none;
    align-items: center;
    display: flex;
    padding-top: 15px;
    
}
.result-details li p{
    font-size: 19px;
}

.result-details li:not(:first-child){
    border-left: 1px solid;
    padding-left: 22px;
    
}
 
.content-box, .result-details {
    display: flex;
    justify-content: space-between;
    
}

.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li b{
    font-weight:  1000;
}

.result-details li:not(:first-child) span{
    font-weight: 1000;
}

.butt {
    border: none;
    outline: none;
    width: 100%;
    padding-top: 22px;
    padding: auto;
    justify-content: flex-end;
}
button {
    padding: 22px;
    width: 100%;
    border:1px solid gray;
   
    font-size:0.875;
    
}

